
.motor{ height: 650; width: 800;}

.container {
    position: relative;
    width: 100%;
    max-width: 800px;
    
}

.motor-image {
    width: 100%;
    padding-top: 56.25%; /* Mantém a proporção 16:9 */
    background-image: url(Image-files/motor03.jpg);
    background-size: cover;
    background-position:center;
    position: relative;
}

.tooltip-area {
    position: absolute;
    cursor: pointer;
    
}

.tooltip {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.75);
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    white-space: nowrap;
    display: none;
    
}

th{ padding: 3px;}

.tooltip-area:hover .tooltip {
    display: block;
}

#turbo .tooltip {
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
}

#cilindros .tooltip {
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
}






body {font-family: Arial, sans-serif;
    line-height: 1.6;}

header {background: #000;
    color: #fff;
    padding: 1rem 0;}

nav ul {list-style: none;
    display: flex;
    justify-content: center;}

nav ul li {margin: 0 1rem;}

nav ul li a {color: #fff;
    text-decoration: none;
    font-weight: bold;}

nav ul li a:hover {color: #f60;}
